<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>320595886785-a1b8hg0m27bi4hkn42qfjmodnlscfmot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320595886785-a1b8hg0m27bi4hkn42qfjmodnlscfmot</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDmHmhFpilo6HZvsbnMkFeNFEJ456tu8</string>
	<key>GCM_SENDER_ID</key>
	<string>320595886785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rvtech.1SR</string>
	<key>PROJECT_ID</key>
	<string>sr-hire</string>
	<key>STORAGE_BUCKET</key>
	<string>sr-hire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320595886785:ios:0005defbad579aad</string>
	<key>DATABASE_URL</key>
	<string>https://sr-hire.firebaseio.com</string>
</dict>
</plist>